{% extends 'base.html.twig' %}

{% block title %}Hello GamescatController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
    <div class="row vertical-gap">
        {% for i in gamescat %}
        <div class="col-lg-4">
            <div class="nk-feature-1">
                <div class="nk-feature-icon">
                    <img src="assets/images/icon-mouse.png" alt="">
                </div>
                <div class="nk-feature-cont">
                    <h3 class="nk-feature-title"><a href="#">{{ i.nom }}</a></h3>
                    <h3 class="nk-feature-title text-main-1"><a href="#">View Games</a></h3>
                </div>
            </div>
        </div>

        {% endfor %}
    </div>
<div class="example-wrapper">
    <h1>games cat</h1>








        {% for i in gamescat %}
        <div>



            <div> {{ i.nom }} </div>

            <div> {{ i.description }} </div>



        </div>
        {% endfor %}

</div>
{% endblock %}
{% block footer %}
{% endblock %}